Debug/
Release/
ipch/
obj/
bin/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
.DS_Store
*.ipa

*.wav
*.mp3
*.o
*.sdf
*.suo
*.vcxproj.user
*.csproj.user
*.opensdf
*.exe
